@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto:100,100i,300,300i,400');

body{
	background-color: white;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	
	margin-top: 0px;

}

h1,h2,h3,h4,h5,h6{
	font-family: "Roboto";
	font-weight: 500;
	color: #333;
}

p{
	line-height: 28px;
	margin-bottom: 25px;
}

.centered{
	text-align: center;
}

a{
	color: #908989;
}

a:hover,a:focus{
	text-decoration: none;
	color: #d8d7d7;
	outline: 0;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
   	background-color: white;
}


.navbar{
	height: 100%;
	font-weight: 800;
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn{
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 800;
	margin-left: 14px;
}



#line{
	border-top: 4px solid #ded7d7;
}

#headerwrap{
	background: url(../img/Hero-Header.png) no-repeat center top;
	margin-top: -20px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 950px;
	width: 100%;
	

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-0-background-size:cover;
	background-size: cover;
}

#headerwrap h1{
	margin-top: 300px;
	color:white;
	font-size: 55px;
	font-weight: 690;
	letter-spacing: -1px;


}

#headerwrap h5{
	color: white;
	font-size: 20px;
	letter-spacing: 0px;
	margin-top: 30px;
}

.short-line{
	border: 4px solid white;
	width: 8%;
}


.get-free{
	margin-top: 50px;
}

#get_free{
	color: #4E81ED;
	font-weight: 800;
	font-size: 20px;
	font-family: "Lato"
}

#get_free:hover,#get_free:focus{
	text-decoration: none;
	color: white;
	outline: 0;

}

.general-container{
	width: 100%;
	background-color: #F0F0F0;

}

.w h4{
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 0px;
}

.w p{
	letter-spacing: 0px;
	color: #a19c9c;
}

.w a{
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0px;
	color: #6ca2f1;
}

.w a:hover,.w a:focus{
	text-decoration: none;
	color: #5bc0de;
	outline: 0;
}

.image-container{
	background-color: white;
	width: 100%;
	min-height: 500px;
}

.image-container img{
	margin-top: 50px;
}

.image-container h4{
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
}

.image-container p{
	letter-spacing: 0px;
	font-weight: 400;
	color: #a19c9c;
}

.btn-blu{
	background-color: #6ca2f1;
	border:none;
}

.video-container{
	min-height: 400px;
	background-color: #F0F0F0;
	width: 100%;
	position: relative;

}

.video-container h1{
	font-weight: 700;
	letter-spacing: 0px;
	font-size: 30px;
}

.video-container p{
	letter-spacing: 0px;
	font-weight: 400;
	color: #a19c9c;
}


.like-button{
	border: 0;


}

.vimeo iframe{
	min-height: 230px;
	margin-top: 70px;
	position: absolute;
	width: 400px;
	border:0;
	margin-left: 40px;
}

.wher-form{
	min-height:680px;
	background-color: white;
	width: 100%;

}

.txt{
	margin-left: 35px;
	margin-top: -30px;
}

.txt h3{
	font-weight: 700;
}

.txt p{
	color: #a19c9c;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0px;
}

.form-container{
	position: relative;
	background-color: #F0F0F0;
	height: 450px;
	width: 350px;
	margin-top: -32px;
	border-radius: 5px;
}

.btn-color{
	margin-left: -1px;
	width: 200px;
	background-color: #6ca2f1;
	border:none;
}

.form-container h4{
	font-size: 25px;
	font-weight: 700px;
}

.form-container p{
	color: #999;
	
}

.fotter-container{
	position: absolute;
	background-color:#dedede;
	height: 70px;
	width: 100%;
	margin-left: -15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 45px;

}

.fotter-container p{
	text-align: center;
	margin-top: 16px;
}

.im{
	margin-top: 40px;
}

.animation-container{
	min-height: 350px;
	width: 100%;
	background-color: #99D9EA;
	
	
}

.animation-container img{
	
	
	margin-top: 40px;
	margin-left: 50px;
	
}

.icon a{
	margin-left: 10px;
}


ul{
	list-style: none outside;
}

.animation-container p{
	font-size: 28px;
	margin-top: 30px;
	font-family: "Lato";
	font-weight: 600px;
	color: white;
	
}

#qoute_dote{
	color: white;
	font-size: 30px;
	letter-spacing: 3px;
	opacity: 0.7;
}

#title{
	font-size: 20px;
	color: white;
	font-weight: 600px;

}

#link{
	font-size: 18px;
	color: white;
	opacity: 0.7;
}

.fott-cont{
	min-height: 80px;
	width: 100%;
	background-color:#a1f3ed;
}

.fott-cont p{
	color: #a19c9c;

}